PORT=3000

MAILER_EMAIL=mailer@gmail.com
MAILER_SECRET_KEY=12345
MAILER_SERVICE=gmail
DEFAULT_TO_MAIL=email@example.com

PROD=false

#MongoDB
MONGO_URL=mongodb://<user>:<pass>@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=user
MONGO_PASS=123456

#PostgreSQL
POSTGRES_URL="<prisma-generated-url>"
POSTGRES_DB=NOC
POSTGRES_USER=user
POSTGRES_PASSWORD=123456